.container
    background-color: grey
    width: 1000px
    margin: 0 auto
    display: grid
    grid-template-columns: 150px 150px 150px
    grid-template-rows: 150px 150px
    grid-gap: 30px
.item
    padding: 20px
    font-size: 30px
    font-family: sans-serif
    color: white
    &-1
        background-color: red
    &-2
        background-color: pink
    &-3
        background-color: blue
    &-4
        background-color: brown
    &-5
        background-color: orange
    &-6
        background-color: green
