.container
    background-color: grey
    width: 1000px
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr))
    grid-template-rows: repeat(2, minmax(150px, max-content))
    width: 90%
.item
    padding: 20px
    font-size: 30px
    font-family: sans-serif
    color: white
    &-1
        background-color: red
    &-2
        background-color: green
    &-3
        background-color: yellow
    &-4
        background-color: blue
    &-5
        background-color: orange
    &-6
        background-color: brown
    &-7
        background-color: tomato
    &-8
        background-color: black
