.container
    background-color: grey
    width: 1000px
    margin: 0 auto
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(2, 150px)
    grid-auto-columns: 400px
    grid-auto-flow: column
    grid-gap: 30px
.item
    padding: 20px
    font-size: 30px
    font-family: sans-serif
    color: white
    background-color: red
    &-1
        // grid-row-start: 2
        // grid-row-end: 3
        // grid-column-start: 2
        // grid-column-end: 3
        //same
        // grid-row: 2 / 3
        // grid-column: 2 / 3
        //same
        // grid-area: 2 / 2 / 3 / 3
    &-2
    &-3
    &-4
    &-5
    &-6
